<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Aqui va el bloque del title {% endcomment %}
        {% endblock title %}
        
    </title>
</head>
<body>
    <h1>Etoy en la pagina Inicio</h1>
    <h2>bienvenido a mi paguina con Django</h2>
    <nav>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'acerade' %}">acercade</a></li>
        <li><a href="{% url 'vision' %}">vision</a></li>
        <li><a href="{% url 'mision' %}">mision</a></li>
    </nav>
    {% block content %}
    
    {% endblock content %}


</body>
</html>